
########################################
# preheat macrto and buttons
# PREHEAT BED=90 CHAMBER=40 HOTEND=150
#####################################
[gcode_macro PREHEAT]
description: Preheat printer before print, call this manually or from slicer
gcode:
    {% set bed_temp = params.BED|default(60)|int %}
    {% set chamber_temp = params.CHAMBER|default(0)|int %}
    {% set hotend_temp = params.HOTEND|default(150)|int %}

    M117 Preheating...
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=Mainboard_fan TARGET=1

    M140 S{bed_temp}                                           ; Bed heat on, no wait
    M141 S{chamber_temp}                                       ; Chamber heat on, no wait
    M104 S{hotend_temp}                                        ; Nozzle to safe standby temp, no wait

    {% if chamber_temp > 0 %}
        G28                                                    ; Home so we can move
        G0 X152.5 Y152.5 Z3 F6000                             ; Move bed to center to aid chamber heating
        M106 P2 S185                                           ; Sidefan on for air mixing
        M106 P0 S128                                           ; Part cooling fan on for air mixing
    {% endif %}

    M117 Preheating - ready when temps reached

[gcode_macro PREHEAT_ABS]
description: Preheat for ABS
gcode:
    PREHEAT BED=100 CHAMBER=45 HOTEND=150

[gcode_macro PREHEAT_PLA]
description: Preheat for PLA
gcode:
    PREHEAT BED=60 CHAMBER=0 HOTEND=150

[gcode_macro PREHEAT_ASA]
description: Preheat for ASA
gcode:
    PREHEAT BED=100 CHAMBER=50 HOTEND=150

[gcode_macro PREHEAT_PETG]
description: Preheat for PETG
gcode:
    PREHEAT BED=80 CHAMBER=0 HOTEND=150

[gcode_macro PREHEAT_PA_CF]
description: Preheat for PA-CF / PPA-CF
gcode:
    PREHEAT BED=100 CHAMBER=60 HOTEND=150

    